# Join two DataFrames in Pyspark:

We use the function **join()** to join the two DataFrames dfL and dfR:

dfL.join(dfR, on=None, how=None)

**on**: a string for the join column name, a list of column names, or a join expression (column)

**how**: a string. Default: 'inner'. Must be one of: inner, cross, outer, full, fullouter, full_outer, left, leftouter, left_outer, right, rightouter, right_outer, semi, leftsemi, left_semi, anti, leftanti and left_anti.
(Note:  some of the above join types do the same thing!)


## The join types can be divided into 7 categories: 

1- inner

2- fullouter / full_outer/ outer / full

3- leftouter/ left_outer / left

4- rightouter /  right_outer / right

5- leftsemi/ left_semi/ semi

6- leftanti/ left_anti/ anti

7- cross

## As an example we want to join two DataFrames of dfL and dfR:

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dfJoin').getOrCreate()

In [2]:
dfL = spark.createDataFrame([(100, "Andy", "22"),(200, "Bob", "23"), (300, "Alice", "23")],["id", "name", "age"])

In [3]:
dfL.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|100| Andy| 22|
|200|  Bob| 23|
|300|Alice| 23|
+---+-----+---+

In [4]:
dfR = spark.createDataFrame([(100, "Andy", "B"),(400, "David", "C"), (500, "Sarah","A")],["id", "name","GPA"])

In [5]:
dfR.show()

+---+-----+---+
| id| name|GPA|
+---+-----+---+
|100| Andy|  B|
|400|David|  C|
|500|Sarah|  A|
+---+-----+---+

# 1- Inner Join
Keep only records whose key exists in both DataFrames.

In [6]:
df_inJ = dfL.join(dfR, on=['id','name'], how='inner')
df_inJ.show()

+---+----+---+---+
| id|name|age|GPA|
+---+----+---+---+
|100|Andy| 22|  B|
+---+----+---+---+

# 2- Outter join 
Keep records from both DataFrames, inserting **null** in either DataFrames when there is no matching record.

The parameter *how* can be set as *fullouter/full_outer/outer/full*

In [7]:
df_outJ = dfL.join(dfR, on=['id','name'], how='outer')
df_outJ.show()

+---+-----+----+----+
| id| name| age| GPA|
+---+-----+----+----+
|500|Sarah|null|   A|
|400|David|null|   C|
|100| Andy|  22|   B|
|200|  Bob|  23|null|
|300|Alice|  23|null|
+---+-----+----+----+

# 3- Left outter join 
Keep all records on the left side, keep null in right side where there are no match keys.

The parameter *how* can be set as *leftouter/left_outer/left*

In [8]:
df_LoutJ = dfL.join(dfR, on=['id','name'], how='leftouter')
df_LoutJ.show()

+---+-----+---+----+
| id| name|age| GPA|
+---+-----+---+----+
|100| Andy| 22|   B|
|200|  Bob| 23|null|
|300|Alice| 23|null|
+---+-----+---+----+

# 4- Right outter join 
Keep all records on the right side, keep null in left side where there are no match keys.

The parameter *how* can be set as *rightouter/right_outer/right*

In [9]:
df_RoutJ = dfL.join(dfR, on=['id','name'], how='rightouter')
df_RoutJ.show()

+---+-----+----+---+
| id| name| age|GPA|
+---+-----+----+---+
|500|Sarah|null|  A|
|400|David|null|  C|
|100| Andy|  22|  B|
+---+-----+----+---+

# 5- Left semi join
Keep only the **left table** (donâ€™t show the right table), where **the join condition is met**. This is a useful filtering mechanism.

The parameter *how* can be set as *leftsemi/left_semi/semi*

In [10]:
df_Lsemi = dfL.join(dfR, on=['id','name'], how='semi')
df_Lsemi.show()

+---+----+---+
| id|name|age|
+---+----+---+
|100|Andy| 22|
+---+----+---+

# 6- Left anti join
This is the **complement of the left semi join**. In this case you return only the left table where the join **condition is NOT met**.

The parameter *how* can be set as *leftanti/left_anti/anti*

In [11]:
df_Lanti = dfL.join(dfR, on=['id','name'], how='anti')
df_Lanti.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|200|  Bob| 23|
|300|Alice| 23|
+---+-----+---+

# 7- Cross join

Join each row on the left with every row on the right. Each DataFrame has 3 rows, so the resulting DataFrame will have 3*3 = 9 rows.

This join can result in large output so use it cautiously!

In [12]:
df_cross = dfL.crossJoin(dfR)
df_cross.show()

+---+-----+---+---+-----+---+
| id| name|age| id| name|GPA|
+---+-----+---+---+-----+---+
|100| Andy| 22|100| Andy|  B|
|100| Andy| 22|400|David|  C|
|100| Andy| 22|500|Sarah|  A|
|200|  Bob| 23|100| Andy|  B|
|200|  Bob| 23|400|David|  C|
|200|  Bob| 23|500|Sarah|  A|
|300|Alice| 23|100| Andy|  B|
|300|Alice| 23|400|David|  C|
|300|Alice| 23|500|Sarah|  A|
+---+-----+---+---+-----+---+

# Using join expression:

We can define join Conditions as bellow:

In [13]:
joinExpression = [dfL.name == dfR.name , dfL.id == dfR.id]

df_inJ = dfL.join(dfR, joinExpression, how='inner')
df_inJ.show()

+---+----+---+---+----+---+
| id|name|age| id|name|GPA|
+---+----+---+---+----+---+
|100|Andy| 22|100|Andy|  B|
+---+----+---+---+----+---+